[project]
	description = For practising generally asked interview questions..
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rishabh (rishabh91)
[access "refs/for/refs/*"]
	read = group user/Rishabh (rishabh91)
	push = group user/Rishabh (rishabh91)
	label-Code-Review = -2..+2 group user/Rishabh (rishabh91)
	label-Verified = -1..+1 group user/Rishabh (rishabh91)
	rebase = group user/Rishabh (rishabh91)
	removeReviewer = group user/Rishabh (rishabh91)
	submit = group user/Rishabh (rishabh91)
[access "refs/heads/*"]
	read = group user/Rishabh (rishabh91)
	create = group user/Rishabh (rishabh91)
	push = +force group user/Rishabh (rishabh91)
	pushMerge = group user/Rishabh (rishabh91)
[access "refs/tags/*"]
	push = +force group user/Rishabh (rishabh91)
	pushTag = group user/Rishabh (rishabh91)
	pushSignedTag = group user/Rishabh (rishabh91)
